<!DOCTYPE html>
<html>
<head>
  <title>Mis Gastos</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
  <h1>Mis Gastos</h1>

  <form action="/gastos" method="POST">
    <input type="text" name="descripcion" placeholder="Descripción" required>
    <input type="number" step="0.01" name="monto" placeholder="Monto" required>
    <input type="text" name="categoria" placeholder="Categoría" required>
    <input type="date" name="fecha" required>
    <select name="tipo" required> <!--------------------------------------------------------->
      <option value="gasto">Gasto</option>
      <option value="ingreso">Ingreso</option>
    </select>
    <button type="submit">Agregar Gasto</button>
  </form>
  <h2>Listado de Gastos</h2>
  <table border="1">
    <thead>
      <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Monto</th>
      <th>Categoría</th>
      <th>Fecha</th>
      <th>Tipo</th>
    </tr>
    </thead>
    <tbody>
      <% gastos.forEach(gasto => { %>
        <tr>
          <td><%= gasto.id %></td>
          <td><%= gasto.descripcion %></td>
          <td>$<%= gasto.monto %></td>
          <td><%= gasto.categoria %></td>
          <td><%= gasto.fecha %></td>
          <td><%= gasto.tipo %></td>
          <td>
            <a href="/gastos/editar/<%= gasto.id %>">Editar</a> |
            <a href="/gastos/eliminar/<%= gasto.id %>">Eliminar</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <br>
  <a href="/">Volver al inicio</a>
</body>
</html>